* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar .logo {
    height: 50px;
    width: 80px;
    margin: 10px;
}

.navbar .nav-list {
    margin: 30px;
    margin-left: 50%;
}


.navbar .nav-list a{
    color: white;
    padding: 30px;
    height: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
}
.home {
    background-image: url("images/travel-2650303_1920.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.95;
}

.container .left {
    position: absolute;
    width: 50%;
    top:250px;
    padding:30px
}

.container .left div {
    padding: 10px;
}

button  {
    padding: 15px;
    width: 80px;
    border: none;
}
.buttons button{
    margin: 50px;
    margin-top: 30px;
}

.buttons #login {
    background-color: red;
    color: seashell;
}
.buttons #register {
    background-color: cyan;
    color: seashell;
}


/* contact us */
.contact {
    padding: 80px 0px;
    background-color: #222;
}

.contact .content {
    display: flex;
}

.contact .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Open-sans',sans-serif;
    color: white;
}

.contact .content .form input:focus,
.contact .content .form textarea:focus{
    outline: none;
    border-color:red ;

}

.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
    color: white;
}

.contact .content .form textarea{
    height: 80px;
}

.contact .content .form button {
    padding: 0px 30px;
    border: none;
    height: 45px;
    font-size: 15px;
    width: 144px;
    background-color: red;
    color: white;
    transition: all .5s ease;
    border: 1px solid transparent;
}

.contact .content .form button:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: red;
    padding: 0px 0px 20px;
}

.contact .content .text p{
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
	list-style: none;
	padding:0;
	margin:0;
}
.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:#ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:red;
}
.contact .content .text .social {
	padding-top: 30px;
}

.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: red;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 
.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .text .social span{
padding-top: 10px;}

.contact .content .text .social a span{
	color:#ffffff;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#c5c5c5;
	font-size: 15px;
}

h2{
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.how {
    display: flex;
}

.how .outer:hover{
    background-color: red;
    color: white;
}

.how .outer{
    border: 1px solid red;
    height: 100%i;
    width: 33%;
    box-sizing: border-box;
    margin: 20px;
}
.how .outer .inner .img img
{
    height: 80px;
    width: 30px;
}

.how .outer .inner {
    text-align: center;
    font-size: 1rem;
}

/* responsive */
@media (min-width:993px) and (min-width:1300px){
    .home {
        background-image: url('images/travel-2650303_1920.jpg') no-repeat ;
        background-position: center;
        width: 100%;

    }
}

@media screen and (max-width:1999px){
    .home {
        background-image: url('images/travel-2650303_1920.jpg') no-repeat ;
        background-position: center;
        height: 100%;
        width: 101%;
    }
}

@media screen and (max-width:968px){
    .home {
        background-image: url('images/travel-2650303_1920.jpg') no-repeat ;
        background-position: center;
        height: 432px;
        width: 109%;
    }
    .navbar .logo {
    height: 50px;
    width: 80px;
    margin: 7px;
}

.navbar .nav-list {
    margin: 15px;
    margin-left: 10%;
}


.navbar .nav-list a{
    color: white;
    padding: 15px;
    height: 30px;
    font-size: 1.5em;
    list-style: none;
    text-decoration: none;
}

.container .left {
    position: absolute;
    width: 70%;
    top:110px;
    padding:10px
}

.container .left div {
    padding: 10px;
    font-size: 1.2rem;
}

button  {
    padding: 15px;
    width: 90px;
    border: none;
    font-size: 1rem;

}
.buttons button{
    margin: 50px;
    margin-top: 30px;
}
.how {
    display: inline;

}
.buttons #login {
    background-color: red;
    color: seashell;
}
.buttons #register {
    background-color: cyan;
    color: seashell;
}
.how .outer:hover{
    background-color: red;
    color: white;
}

.how .outer{
    border: 1px solid red;
    height: 100%i;
    width: 100%;
    margin: 20px;
padding: 10px;

}
.how .outer .inner .img img
{
    height: 80px;
    width: 30px;
}
.how .outer .inner {
    text-align: center;
    font-size: 1rem;
}

}