* {
    padding: 0;
    margin: 0;
}

.container {
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar .logo {
    height: 50px;
    width: 80px;
    margin: 10px;
}

.navbar .nav-list {
    margin: 30px;
    margin-left: 50%;
}


.navbar .nav-list a{
    color: white;
    padding: 30px;
    height: 30px;
    list-style: none;
    text-decoration: none;
}
.home {
    background-image: url("images/travel-2650303_1920.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 680px;
    width: 1440px;
    position: relative;
    opacity: 0.95;
}

.container .left {
    position: absolute;
    width: 50%;
    top:250px;
    padding:30px
}

.container .left div {
    padding: 10px;
}

button  {
    padding: 15px;
    width: 80px;
}
.buttons button{
    margin: 50px;
    margin-top: 30px;
}

.buttons #login {
    background-color: red;
    color: seashell;
}
.buttons #register {
    background-color: cyan;
    color: seashell;
}